In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://piotr:2050@localhost:5432/fifawebsite')

df = pd.read_sql_query('select * from "ratings"', con=engine)

# print(df.head())
#
print(df.describe())

                  id        user_id      sofifa_id    user_rating
count  147555.000000  147555.000000  147555.000000  147555.000000
mean    74796.657728     149.873044  219522.726699       3.005327
std     43297.146628      86.630580   26098.420117       1.417798
min         1.000000       1.000000     768.000000       1.000000
25%     37359.500000      75.000000  204301.000000       2.000000
50%     74654.000000     150.000000  225201.000000       3.000000
75%    112306.500000     225.000000  239337.000000       4.000000
max    150000.000000     300.000000  252905.000000       5.000000

In [11]:
ratings = pd.DataFrame(df.groupby(['user_id', 'sofifa_id', 'player_position'])['user_rating'].mean())
print(ratings)

                                   user_rating
user_id sofifa_id player_position
1       3467      CF                         3
        109493    GK                         2
        115533    GK                         1
        137351    CDM                        1
        137774    CB                         1
...                                        ...
300     252458    GK                         4
        252515    RW                         1
        252524    RB                         1
        252743    LB                         5
        252747    CDM                        1

[147555 rows x 1 columns]